:root {
  --content-width: 50%;
}

/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-weight: 300;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

body {
  font-size: 1.25rem;
  position: relative;
}

p {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 0.9375rem;
  margin-top: 0;
  color: #333;
}


img {
  width: var(--content-width);
}

/* Navigation */
.nav {
  height: 5.5rem;
  border-bottom: 1px solid #d3d3d3;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10000;
}

.nav::after {
  display: inline-block;
  width: 0;
  height: 0;
  clear: both;
}

.nav__list {
  list-style: none;
  text-align: center;
  padding: 1rem 2rem;
}

.nav__left {
  float: left;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

.nav__left > * {
  margin-right: 2rem;
}

.nav__left i {
  color: black;
  font-size: 1.5rem;
}

.link--black:link, 
.link--black:visited {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
}

.link--black:hover, 
.link--black:active {
  text-decoration: underline
}

.nav__right {
  position: absolute;
  right: 2rem;
  top:50%;
  transform: translateY(-50%);
}

.nav__right button,
.nav__right button:link,
.nav__right button:visited {
  font-size: 1.1rem;
  color: white;
  padding: 1rem 1.2rem;
  background-color: #6288a5;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: all .4s;
}

.nav__right button:hover,
.nav__right button:active  {
  background-color: #326891;
}

.nav__list li {
  display: inline
}

.logo {
  display: inline-block;
  width: 20rem;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
   

/* header */
header {
  text-align: center;
}

header h1 {
  margin-left: 40rem;
  margin-top: 4rem;
  font-size: 3.5rem;
  font-weight: bold;
  width: 36%;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 3rem;
}

header img {
  width: 80%;
}

header p,
header span {
  font-size: 1.6rem;
  width: 80%;
  text-align: left;
  margin: 0 auto;
  line-height: 1.2;
  color: #666;
}

header span {
  color: #888;
  font-size: 1.4rem
}

/* article about */
.article__about {
  width: var(--content-width);
  margin: 4rem auto;
}

.article__about > p {
  font-size: 1.7rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.article__about p > a:link,
.article__about p > a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #888;
  transition: all .2s;
}

.article__about p > a:hover,
.article__about p > a:active {
  border-bottom: 1px solid white;
}

.article__about__details {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.article__about__details ul {
  list-style: none;
}

.article__about__details li {
  display: inline-block;
  margin-left: 1.5rem;
} 


/* .article__about {
  text-align: left;
  width: 50%;
  transform: translateX(50%); 
}

.article__about ul {
  list-style: none;
  display: inline-block;
}

.article__about li {
 display: inline-block;
}

.article__content{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.article__content p{
  width: 45%;
}

.article__content a{
  color: rgb(50, 104, 145);

}
.article__content a:hover{
  text-decoration: none;
} */






/* container */
/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.container > * {
  width: 50%;
}

img {
  width: 500px;
} */



/* .container {
  text-align: left;
  width: 50%;
  transform: translateX(50%)
}

 */
